[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "tmux-plugin-manager"]
	path = tmux-plugin-manager
	url = https://github.com/tmux-plugins/tpm
[submodule "org"]
	path = org
	url = git@gitlab.com:badi/org.git
