[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Spotify
Comment=Run Spotify
Exec=spotify
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

