[Desktop Entry]
Comment=Run Spotify
Encoding=UTF-8
Exec=spotify
Hidden=true
Name=Spotify
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Type=Application
Version=0.9.4
