[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=XCompMGR
Comment=Start a compositing manager for X
Exec=xcompmgr
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

